.meter { 
    height: 122px;
    position: relative;
    background: #f3efe6;
    overflow: hidden;
    margin-top: 222px;
}

.meter span {
    display: block;
    height: 100%;
}

.progress {
    background-color: lime;
    animation: progressBar 4s ease-in-out;
    animation-fill-mode:both; 
    animation-iteration-count: infinite;
}

@keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}